h1 {
    margin-bottom: 2em;
}

.container_content {
    padding-top: 3em;
}

.lista li {
    list-style: none;
    margin-bottom: 0.3em;
}

.lista li a:hover {
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
}

.aside_content {
    margin-right: 5em;
    min-width: 300px;
    min-height: 390px;
}

.aside {
    /* background-color: rgb(48, 19, 19); */
    border: 1px solid rgb(0, 0, 0);
    padding: 2em 4em;
    position: sticky;
    top: 2em;
}