body{
    background: rgb(13,6,62);
background: linear-gradient(90deg, rgba(13,6,62,1) 0%, rgba(58,103,223,1) 100%);
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1250px;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    background-color: #1f1075;
    height: 55px;
    padding: 2.1em 0;
}

.header_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em;
}

.header_title:hover {
    background-color: #151b6d;
    
}

.header_links {
    display: flex;
    padding: 0;
}

.header_links li {
    list-style: none;
    margin-right: 1em;
}

.link {
    text-decoration: none;
    padding: 11.5px 15px;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(21, 22, 121, 0.644);
    box-shadow: 0 1px 1px rgba(30, 23, 129, 0.76);
    padding: 0.5em 1em;
    background-color: #171f66;
    text-transform: uppercase;
    font-weight: 600;
}

.link:hover {
    background-color: #201583dc;
}

.button {
    margin-left: 0.2em;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease 0.3s;
}

.button:hover {
    background-color: #1f1485a6;
    color: #14218fea;
} 

/* SECTIONS */

.section {
    margin-top: 1.5em;
}

.section h1 {
    text-align: center;
    font-size: 2em;
}

.section h2 {
    text-align: center;
}

footer{
    background: #212c75;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}